{% extends "layout.html" %}

{% block title %}
    {{bookInfo[0]['title']}}
{% endblock %}

{% block content %}

<h4 class="alert alert-info">Here is your book:</h4>
    <div class="row book-container">
        <div class="col-sm-6">
            <img src="http://covers.openlibrary.org/b/isbn/{{bookInfo[0]['isbn']}}-M.jpg" width="130px" align="left" hspace="15" vspace="10">            
            <p></p><h4>{{bookInfo[0]['title']}}</h4>
            <h5>Author: {{bookInfo[0]['author']}}</h5>
            <h5>Published: {{bookInfo[0]['year']}}</h5>
            <h5>ISBN-10: {{bookInfo[0]['isbn']}}</h5>
        </div>

        <!--GOODREADS REVIEWS -->
        <div style="padding:0 35px; float: left;">
            <img class="mb-3" src="../static/goodreads.jpg" alt="Goodreads" width="150" height="35">
            <h5>No. of Ratings: {{bookInfo[1]['work_ratings_count']}}</h5>
            <h5>Average Rating: {{bookInfo[1]['average_rating']}}</h5>
            <h5>
                <a href="https://www.goodreads.com/search?q={{bookInfo[0]['title']}}">Goodreads page</a>
            </h5>
        </div>
    </div>
    <div class="dropdown-divider"></div>

    <h5 class="alert alert-info">Reviews by users</h5>
    
    <div>
        <!-- REVIEW FORM -->
       
        <form method="POST" class="form-border">        
         <div class="form-group col-sm-6">
            <div class="form-row">
                <h6>Please enter your comments:</h6>
                <textarea name="comment" id="comment" class="form-control" rows="2" required></textarea>                       
            </div>
        </form>


        <div>
        <p></p>
            <h6><label for="rating">Select your rating of this book (1 to 5):</label></h6>
                <select id="rating" name="rating" class="form-control" required>
                    <option selected value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                </select>
        </div>
        <p></p>
        <div>
            <button class="btn btn-success" type="submit">Submit</button>
        </div>
        <!-- REVIEW LIST -->
        <div id="userReviews">
            <h4></h4>
            {% for review in reviews %}
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h6 class="mb-1" style="color:rgb(2, 87, 2)">{{review['username']}} said...</h6>
                        <small>{{review['time']}}</small>
                    </div>
                    <p class="mb-1">{{review['comment']}}</p>
                    <p>Rated: {{review['rating']}}</p>
                </a>
                <div class="dropdown-divider"></div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}